{% extends "base.html"%}
{% block content %}
<h1 id="content_head">Information</h1>
<div id="introduction-no-line">
    <p>The goal of our research is to obtain an effort estimation model based
on the data that can be extracted from versioning systems, such as Git, Bazaar,
Subversion or CVS. The research outputs could be of special interest for the
Free/Libre/Open Source Software (FLOSS) projects and industry.
</p>

    <p>        
It has to be noted that in traditional (closed sourced) software developments,
effort estimations are used by companies in
the early phases of a project to estimate the number of developers and the 
amount of time that a project will require. Once the project is over, the
company should know the actual effort it has devoted, and no estimation is required.
</p>

<p>
In FLOSS projects, where volunteer developers may
co-operate with professional developers from several companies, the total
amount of effort invested in the project is usually not known even after the
development has been done. Companies involved in FLOSS are usually aware of the
effort they put into the projects, but have difficulties in knowing the effort
by the rest of the community, including the other companies that collaborate
on the project.
    </p>

<p>
In this research we mine software versioning system data to quantify the actual effort 
provided by the contributors of several FLOSS
projects, in order to produce an ex-post evaluation of the applied effort. We
propose several approaches to quantify the effort based on the data obtained
and apply it to several FLOSS projects. With this survey, we want to compare the
effort as provided by developers to validate the effort estimated with our approach.
</p>

</div>
{% endblock%}
