{% extends "base.html"%}
{% block content %}
<div id="introduction">
    <p>
        Welcome to our effort estimation survey.<br>We thank you in advance for your participation.
    </p>
</div>
<div id="error">
    <p>{{ error }}</p>
</div>
<div id="form_login">
    <form action="/" method="post">
        <p align="center"><label for="id_name">Name:</label> <input id="id_name" maxlength="40" name="name" type="text" /></p>
        <p align="center"><label for="id_email">Email:</label> <input id="id_email" maxlength="40" name="email" type="text" /></p>
        <input type="submit" value="Submit" class="submit_button" />
    </form>
<br/>
<p>
    The survey consist of 6 quick questions. It should
    take you around 2-3 minutes to answer it.
</p>
<p>
    This survey has been launched by researchers from the Universidad Rey Juan Carlos (Spain) 
    and Brunel University (UK) in order to validate their effort estimation models for 
    Free/Open Source Software projects. Your input and feedback is much appreciated.
    Please, see the <a href="info">information page</a> for more information.
</p>

</div>
{% endblock%}
