{% extends "base.html"%}
{% block content %}
<div id="introduction-no-line">
    <p>
       We are concerned about your privacy. That is why we commit to the following:
      <ul>
        <li> All data from this survey (and in general, all data used for this research) will be used <b>exclusively for research purposes</b>.</li>
        <li> Results, reports and other information resulting from this survey will always be offered in a way that <b>privacy is preserved</b> (i.e., results will be offered in an aggregated or, if needed, in an anonymous way). Names and e-mail addresses will not be mentioned. </li>
        <li> The data obtained with the survey will be matched <b>internally</b> with the data from the mining version repositories at the universities where the researchers work (Universidad Rey Juan Carlos and Brunel University).</li>
        <li> The survey data <b>will not be released</b>, nor given to any third party.</li>   
      </ul>
    </p>
</div>
{% endblock%}
