{% extends "base.html"%}
{% block content %}
<div id="introduction">
    <p>
        Project: {{ project }}
    </p>
</div>
<form action="/survey2" method="post">
    <p>
        <label for="id_resp4">What do you consider yourself in the project?<br /></label>
        <select id="id_resp4" name="resp4">
            <option selected value="None">Choose one option</option>
            <option value="full">Full-time contributor</option>
            <option value="part">Part-time contributor</option>
            <option value="occasional">Occasional contributor</option>
        </select>
    </p>
    <p>
        <label for="id_resp5">Did you always work on the project the same amount of hours, or did you have different phases of commitment? If you had different phases, could you tell us about the various phases? (the graph below may help you, as it is based in your recorded activity in the repository)<br /></label>
        <textarea id="id_resp5" name="resp5" rows="7" cols="60"></textarea>
    </p>
    <p>
        <label for="id_info">I would like to receive the results of this research:</label>
        <input id="id_info" name="info" type="checkbox" />
    </p>
    <input type="submit" value="Submit" class="submit_button" />
</form>
<img src="{{ STATIC_URL }}img/{{ figure }}" id="figure" alt="Work done during the months of the project by the author" />
{% endblock%}
