{% extends "base.html"%}
{% block content %}
{% if survey == 1 %}
<form action="/survey" method="post">
{% else %}
<form action="/survey2" method="post">
{% endif %}
    <p>
        <label for="id_resp1">On average, how many hours in a week have you spend in the project in the last six months?<br /></label>
        <select id="id_resp1" name="resp1">
            <option selected value="None">Choose one option</option>
            <option value=">40">More than 40h</option>
            <option value="40">Around 40h</option>
            <option value="30">Around 30h</option>
            <option value="20">Around 20h</option>
            <option value="10">Around 10h</option>
            <option value="7">Around 7h</option>
            <option value="<5">Less than 5h</option>
        </select>
    </p>
    <p>
        <label for="id_resp2">How much of the time you spent in the project is devoted to coding?<br /></label>
        <select id="id_resp2" name="resp2">
            <option selected value="None">Choose one option</option>
            <option value="100">Approx. 100%</option>
            <option value="90">Around 90%</option>
            <option value="80">Around 80%</option>
            <option value="70">Around 70%</option>
            <option value="60">Around 60%</option>
            <option value="50">Around 50%</option>
            <option value="40">Around 40%</option>
            <option value="30">Around 30%</option>
            <option value="20">Around 20%</option>
            <option value="10">Around 10%</option>
            <option value="<10">Less than 10%</option>
        </select>
    </p>
    <p>
        <label for="id_resp3">Do you make at least one commit to the repository the days you code?<br /></label>
        <select id="id_resp3" name="resp3">
            <option selected value="None">Choose one option</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </p>
    {% if flag_info %}
    <p>
        <label for="id_resp4">What do you consider yourself in the project?<br /></label>
        <select id="id_resp4" name="resp4">
            <option selected value="None">Choose one option</option>
            <option value="full">Full-time contributor</option>
            <option value="part">Part-time contributor</option>
            <option value="occasional">Occasional contributor</option>
        </select>
    </p>
    <p>
        <label for="id_resp5"> Did you always work the same hours in the project, or did you have different phases of commitment? If you had different phases, could you tell us about the various phases using the graph below?<br /></label>
        <textarea id="id_resp5" name="resp5" rows="4" cols="60"></textarea>
    </p>
    <p>
        <label for="id_info">Would you like to receive the results of our research?</label>
        <input id="id_info" name="info" type="checkbox" />
    </p>
    {% endif %}
    {% if survey == 1 %}
        <input type="submit" value="Submit" class="submit_button" />
    {% else %}
        <input type="submit" value="Next Page (2/2)" class="submit_button" />
    {% endif %}
</form>
{% if flag_fig %}
<img src="{{ STATIC_URL }}img/{{ figure }}" id="figure" alt="Work done during the months of the project by the author" />
{% endif %}
{% endblock%}
