{% extends "base.html"%}
{% block content %}
<form action="/survey2" method="post">
    <p>
        <label for="id_resp4">Answer 4:<br /></label>
        <textarea id="id_resp4" name="resp4" rows="4" cols="60"></textarea>
    </p>
    <p>
        <label for="id_resp5">Have you always worked the same number of the hours in the project or have you had different stages of work? If you have had different stages, could you tell us the different stages by observing the graph? (see below)<br /></label>
        <textarea id="id_resp5" name="resp5" rows="4" cols="60"></textarea>
    </p>
    <p>
        <label for="id_info">Do you like receive information of the results of our research?</label>
        <input id="id_info" name="info" type="checkbox" />
    </p>
    <input type="submit" value="Submit" class="submit_button" />
</form>
<img src="{{ STATIC_URL }}img/{{ figure }}" id="figure" alt="Work done during the months of the project by the author" />
{% endblock%}